{% extends "layout.html"%}

{% block content %}

<div class="modal fade" id="modalGeneral" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header text-white" id="modalHeader">
                <h5 class="modal-title" id="modalTitulo">Título</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="modalMensaje">
                Mensaje aquí
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>

                <button type="button" class="btn" id="btnConfirmar" style="display:none;">
                    Aceptar
                </button>
            </div>

        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="accordion" id="miAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#contenido" aria-expanded="true">
                    Sistema de Gestión de Tareas
                </button>
            </h2>

            <div id="contenido" class="accordion-collapse collapse show" data-bs-parent="#miAccordion">
                <div class="accordion-body">

                    <div class="form-tarea d-flex gap-2 mb-3">
                        <form action="{{ url_for('agregar') }}" method="POST" class="d-flex w-100 gap-2" onsubmit="return validarFormulario()">
                            <input type="text" id="nuevaTarea" name="tarea" class="form-control" placeholder="Nueva tarea...">
                            <button class="btn btn-primary">Agregar</button>
                        </form>
                    </div>

                
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#todas">
                                Todas
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#pendientes">
                                Pendientes
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#completadas">
                                Completadas
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#resumen">
                                Resumen
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">
                        <div class="tab-pane fade show active" id="todas">
                           
                            {% for tarea in tareas %}
                            <div class="d-flex align-items-center mb-2">

                                <div style="width: 30px;">
                                    {{ loop.index }}
                                </div>

                                <!-- FORM MODIFICAR -->
                                <form action="{{ url_for('modificar', indice=loop.index0) }}" method="POST" class="d-flex align-items-center gap-2 me-2 flex-grow-1">
                                    
                                    <input type="text" name="tarea_editada" value="{{ tarea.texto }}" class="form-control form-control-sm flex-grow-1 
                                    {% if tarea.estado == 'completado' %} tarea-completada {% elif tarea.estado == 'pendiente' %} tarea-pendiente
                                    {% else %} tarea-sin-empezar {% endif %}" required>

                                    <!-- NUEVO COMBOBOX -->
                                    <select name="estado" class="form-select form-select-sm" style="width:180px;">
                                        <option value="sin_empezar"
                                            {% if tarea.estado == "sin_empezar" %}selected{% endif %}>
                                            Sin empezar
                                        </option>

                                        <option value="pendiente"
                                            {% if tarea.estado == "pendiente" %}selected{% endif %}>
                                            Pendiente
                                        </option>

                                        <option value="completado"
                                            {% if tarea.estado == "completado" %}selected{% endif %}>
                                            Completado
                                        </option>
                                    </select>

                                    <button type="button" class="btn btn-modificar btn-sm" onclick="confirmarModificar(event, this)">
                                        Modificar
                                    </button>
                                </form>

                                <!-- FORM ELIMINAR -->
                                <form action="{{ url_for('eliminar', indice=loop.index0) }}" method="POST">
                                    <button type="button" class="btn btn-eliminar btn-sm" onclick="confirmarEliminar(event, this)">
                                        Eliminar
                                    </button>
                                </form>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="tab-pane fade" id="pendientes">
                            <p>Contenido de Pendientes</p>
                        </div>

                        <div class="tab-pane fade" id="completadas">
                            <p>Contenido de Completadas</p>
                        </div>

                         <div class="tab-pane fade" id="resumen">
                            <div class="card shadow">
                                <div class="card-header bg-dark text-white">
                                    Resumen de Tareas
                                </div>
                                <div class="card-body">
                                    <p>Total: {{ total }}</p>
                                    <p>Pendientes: {{ pendientes }}</p>
                                    <p>Completadas: {{ completadas }}</p>
                                </div>
                            </div>
                        </div>
                    </div>




                    






                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>

function mostrarModal(titulo, mensaje, formulario = null, tipo = "danger") {

    document.getElementById("modalTitulo").innerText = titulo;
    document.getElementById("modalMensaje").innerText = mensaje;

    let header = document.getElementById("modalHeader");
    let btnConfirmar = document.getElementById("btnConfirmar");

    // Resetear estilos
    header.className = "modal-header text-white";
    btnConfirmar.className = "btn";

    if (tipo === "primary") {
        header.classList.add("bg-primary");
        btnConfirmar.classList.add("btn-success");
    } else {
        header.classList.add("bg-danger");
        btnConfirmar.classList.add("btn-success");
    }

    if (formulario) {
        btnConfirmar.style.display = "inline-block";
        btnConfirmar.onclick = function () {
            formulario.submit();
        };
    } else {
        btnConfirmar.style.display = "none";
        btnConfirmar.onclick = null;
    }

    let modal = new bootstrap.Modal(document.getElementById('modalGeneral'));
    modal.show();
}

function confirmarModificar(event, boton) {
    event.preventDefault(); // 
    let formulario = boton.closest("form");
    mostrarModal("Confirmar modificación","¿Realmente deseas cambiar lo escrito?",formulario,"primary");
}

function confirmarEliminar(event, boton) {
    event.preventDefault();
    let formulario = boton.closest("form");
    mostrarModal("Confirmar eliminación","¿Estás seguro que deseas eliminar esta tarea?",formulario,"danger");
}

</script>

{% endblock %}



