{% extends "layout.html"%}

{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">
                This is a simple hero unit, a simple jumbotron-style component.
            </p>
            <hr class="my-4">
            <p>
                It uses utility classes for typography and spacing.
            </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">
                Learn more
            </a>
        </div>
    </div>

{% endblock %}

